.trackers .buttonAddTracker
{
    background:   #1CB841;
    font-size: 90%;
    margin-top: 3px;
}

.trackers .addTrackerSection
{
  background: #D4D4D4;
  padding:    3px;
}

.trackers .buttonAddTaskWithTracker
{
  margin-left: 5px;
  width:    15px;
}

.trackers .addTrackerError
{
  color: #DD514C;
}

.trackers .tracker
{
  margin-top : 5px;
  height: 35px;
  cursor: pointer;
}

.tracker .trackerName
{
  padding: 5px;
  padding-top: 8px;
}

.pure-button.red
{
  background: #DD514C;
  color: #FFFFFF;
}

.no-select
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.central
{
  padding-left: 5px;
}