.task
{
	margin-top:	   1px;
	padding-top:   5px;
  height:        40px;	
}

.task .timespan
{
	padding-left:	5px;
}

.task .pure-button
{
	width:		15px;
}

.task .button-stop,
.task .button-delete,
.task .button-bad
{
	background:		#DD514C;
}

.task .button-start
{
	background:		#42B8DD;
}

.task .button-good
{
	background:		#1CB841;
}

.task .button-save
{
	background:		#0078E7;
	color:			#FFFFFF;
}

.task .gray
{
  background: #D4D4D4;
}

.task .clickable
{
  cursor: default;
  height: 100%;
}

.task .trackerMark
{
  height: 100%;
}