<div class="dialog">
	<div class="ngdialog-message">
		<h2>You are about to archive</h2>
		<p>
			When you archive a list of tasks your current list is cleared and you
			can start over with a new one.
		</p>
		<p>
			You are asked to provide a date for the archive so we can later provide
			you with cool stats.
		</p>
		<p>
			<div class="pure-g">
				<div class="pure-u-1-4">Name:</div>
				<div class="pure-u-3-4"><input class="pure-input-1" ng-model="name"></input></div>
				<div class="pure-u-1-4">Date:</div>
				<div class="pure-u-3-4"><input class="pure-input-1" ng-model="date" type="date" required></input></div>
			</div>
		</p>
		<p>{{note}}</p>
	</div>
	<div class="ngdialog-buttons mt">
		<a class="button-close pure-button" ng-click="closeThisDialog()">Oh... no thanks</a>
		<a class="pure-button pure-button-primary" ng-click="archive()">Archive it!</a>
	</div>
</div>