<div class="stats" ng-style="{background: stats.color}">
  <div class="title">{{stats.title}}</div>
  <div class="grade">Raw score: {{(stats.correct.count-(stats.incorrect.count*.25)) | number:2}}</div>
  <div class="grade">Grade: {{100*((stats.correct.count-(stats.incorrect.count*.25))/stats.all.count) | number:2}}</div>
  <div class="grade">Average correct: {{100*(stats.correct.count/stats.all.count) | number:2}}</div>
  <div class="header">all</div>
  <report-directive report="stats.all"> </report-directive>
  <div class="header">correct</div>
  <report-directive report="stats.correct"> </report-directive>
  <div class="header">incorrect</div>
  <report-directive report="stats.incorrect"> </report-directive>
  <div class="header">unchecked</div>
  <report-directive report="stats.unchecked"> </report-directive>
</div>