
<div class="pure-g">
	<div class="pure-u-2-5" ng-show="!choosing">			
		<form class="pure-form pure-form-aligned" ng-submit="doneEditing()">
			<div class="pure-g">
				<div class="pure-u-1">
					<div ng-click="editTask()" ng-show='!task.editing'>{{ task.name }}</div>
					<input class="pure-input-1" ng-model="task.name" ng-show="task.editing"></input>
				</div>
			</div>
		</form>
	</div>
	<div class="pure-u-2-5 clickable no-select" ng-click="task.$selected = !task.$selected" ng-class="{ gray : task.$selected }" ng-show="choosing">			
		<form class="pure-form pure-form-aligned" ng-submit="doneEditing()">
			<div class="pure-g">
				<div class="pure-u-1-12">
					<input type="checkbox" ng-click="$event.stopPropagation();" ng-model="task.$selected"></input>
				</div>
				<div class="pure-u-11-12">
					<div >{{ task.name }}</div>
				</div>
			</div>
		</form>
	</div>
	<div class="pure-u-1-5">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<div class="pure-g">
					<div class="pure-u-1-12 trackerMark" ng-repeat="tracker in task.trackers" ng-style="{background : tracker.color}"></div>
				</div>
			</div>
			<div class="pure-u-1-2"><label class="timespan">{{ task.lapse | timespan }}</label></div>
		</div>
	</div>
 	<div class="pure-u-2-5" ng-show="!choosing">
		<a class="button-save 	pure-button"  ng-click="doneEditing()"	ng-show="task.editing"><i class="fa fa-floppy-o"></i></a>
		<a class="button-edit   pure-button" 	ng-click="editTask()" 		ng-show="!task.editing"><i class="fa fa-pencil-square-o"></i></a> 
		<a class="button-start 	pure-button" 	ng-click="start()" 				ng-show="!task.running"><i class="fa fa-play"></i></a>
		<a class="button-stop 	pure-button"	ng-click="stop()" 				ng-show="task.running"><i class="fa fa-stop"></i></a>
		<a class="pure-button"								ng-click="check()" 				ng-show="task.check == 0"><i class="fa fa-question"></i></a>
		<a class="button-good 	pure-button"	ng-click="checkBad()" 		ng-show="task.check == 1"><i class="fa fa-check"></i></a>
		<a class="button-bad 	pure-button"		ng-click="uncheck()" 			ng-show="task.check == -1"><i class="fa fa-times"></i></a>
		<null ng-transclude></null>
 	</div>
 	<div class="pure-u-2-5" ng-show="choosing">
		<a class="button-save 	pure-button pure-button-disabled"  	ng-show="task.editing"><i class="fa fa-floppy-o"></i></a>
		<a class="button-edit   pure-button pure-button-disabled" 	ng-show="!task.editing"><i class="fa fa-pencil-square-o"></i></a> 
		<a class="button-start 	pure-button pure-button-disabled" 	ng-show="!task.running"><i class="fa fa-play"></i></a>
		<a class="button-stop 	pure-button pure-button-disabled"		ng-show="task.running"><i class="fa fa-stop"></i></a>
		<a class="pure-button 	pure-button-disabled"								ng-show="task.check == 0"><i class="fa fa-question"></i></a>
		<a class="button-good 	pure-button pure-button-disabled"		ng-show="task.check == 1"><i class="fa fa-check"></i></a>
		<a class="button-bad 	pure-button pure-button-disabled"			ng-show="task.check == -1"><i class="fa fa-times"></i></a>
		<null ng-transclude></null>
 	</div>
</div>


