<html>
	<head>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-55367510-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<script type="text/javascript" 	src="libs/lodash/lodash.js"></script>
		<script type="text/javascript" 	src="libs/angularjs/angular.js"></script>
		<script type="text/javascript"	src="libs/ngDialog/js/ngDialog.js"></script>
		<script type="text/javascript"	src="libs/lodash/lodash.js"></script>
		
		<link 	rel="stylesheet" 	type="text/css"	href="libs/pure/pure.css"></link>
		<link 	rel="stylesheet"	type="text/css"	href="libs/font-awesome/css/font-awesome.css"></link>
		<link 	rel="stylesheet" 	type="text/css" href="libs/ngDialog/css/ngDialog.css"></link>
		<link 	rel="stylesheet" 	type="text/css" href="libs/ngDialog/css/ngDialog-theme-default.css"></link>


		<script type="text/javascript" 	src="js/utilities.js"></script>
		<script type="text/javascript" 	src="js/utilitiesModule.js"></script>
		<script type="text/javascript" 	src="js/taskModule.js"></script>
		<script type="text/javascript" 	src="js/trackerModule.js"></script>
		<script type="text/javascript" 	src="js/reportModule.js"></script>
		<script type="text/javascript" 	src="js/statsModule.js"></script>
		<script type="text/javascript" 	src="js/main.js"></script>
		<link 	rel="stylesheet" 		type="text/css" href="css/tasks.css"></link>
		<link 	rel="stylesheet" 		type="text/css" href="css/main.css"></link>
		<link 	rel="stylesheet" 		type="text/css" href="css/dialogs.css"></link>
		<link 	rel="stylesheet" 		type="text/css" href="css/stats.css"></link>
		<link 	rel="stylesheet" 		type="text/css" href="css/ngDialog-theme-flat.css"></link>
	</head>
	<body 		ng-app="main" 	ng-controller="mainController">
		<div class="pure-g">
			<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 ">
				<div class="pure-g central">
					<div class="pure-u-1">
						<a 	class="pure-button pure-button-primary"	ng-click="addTask()">
							<i class="fa fa-plus"></i>
							Add new task
						</a>
						<a 	class="pure-button pure-button-primary" ng-click="filtering = true;" ng-show="!filtering">
							<i class="fa fa-filter"></i>
							Filter
						</a>
						<a 	class="pure-button red" ng-click="filtering = false; query = ''" ng-show="filtering">
							<i class="fa fa-filter"></i>
							Filter
						</a>
						<a 	class="pure-button pure-button-primary"	ng-click="assignTrackers()" ng-show="!assigningTrackers">
								<i class="fa fa-tags"></i> 
								Assign trackers
							</a>
							<a 	class="pure-button red"	ng-click="doneAssigningTrackers()" ng-show="assigningTrackers">
								<i class="fa fa-tags"></i> 
								Done asigning
							</a>
							<a 	class="pure-button pure-button-primary"	ng-click="openArchiveDialog()">
							<i class="fa fa-arrow-circle-o-down"></i>
							Archive
						</a>
					</div>
					<div class="pure-u-1 gray" ng-show="filtering || choosing">
						<form class="pure-form pure-form">
							<fieldset>
								<label for="selectAll" ng-show="choosing">
										<input id="selectAll" type="checkbox" ng-model="selectAllMode" ng-change="selectAll(selectAllMode)" ></input>
										Select All
								</label>
								<input placeholder="filter" class="pure-input-1-2" ng-model="query" ng-show="filtering"></input>
							</fieldset>
						</form>						
					</div> 
				</div>
			</div>
			<div class="pure-u-1-5"></div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-5 trackers">
				<form class="pure-form pure-form" ng-submit="addTracker(trackerName); trackerName = '';">
					<div class="addTrackerSection">
						<div class="pure-g">
							<div class="pure-u-1-2">
								<input placeholder="tracker name" class="pure-input-1" ng-model="trackerName"></input>
							</div>
							<div class="pure-u-3-8">
								<a 	class="pure-button buttonAddTracker"	ng-click="addTracker(trackerName); trackerName = '';">
									<i class="fa fa-plus"></i>
										Add new tracker
								</a>
							</div>
						</div>
						<div class="addTrackerError">{{addTrackerError}}</div>
					</div>
				</form>
				<div ng-repeat="tracker in current.trackers">
					<div class="pure-g tracker">
						<a 	class="pure-button"	ng-click="assignUnassignTracker(tracker, 'assign'); tracker.$selected = true;" ng-show="choosing && !tracker.$selected">
									<i class="fa fa-plus"></i>
						</a>
						<a 	class="pure-button"	ng-click="assignUnassignTracker(tracker, 'unassign'); tracker.$selected = false;" ng-show="choosing && tracker.$selected">
									<i class="fa fa-minus"></i>
						</a>						
						<div class="pure-u-1-2 trackerName" ng-click="addTask(tracker)" ng-style="{background : tracker.color}">
							{{tracker.name}}
						</div>
						<a 	class="pure-button buttonAddTaskWithTracker"	ng-style="{background : tracker.color}" ng-click="addTask(tracker, true)">
									<i class="fa fa-play"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="pure-u-3-5">
				<div 	class="pure-g central">
					<div 	class="pure-u-1-1 task"	ng-repeat="task in current.tasks | filter: filterTasks" >
						<task-directive task="task" choosing="choosing">
							<a 	class="pure-button button-delete"	ng-click="removeTask(task)" ng-show="!choosing"><i class="fa fa-trash-o"></i></a>				 			
						</task-directive>
					</div>
				</div>
			</div>
			<div class="pure-u-1-5">
				<a 	class="pure-button"	ng-click="buildStats()">
							<i class="fa fa-line-chart"></i>
							Build stats
				</a>
				<div>Last build: {{ current.statsBuild.date || 'Never' }}</div>
				<div class="pure-g">
					<div class="pure-u-1-2" ng-repeat="stats in current.statsBuild.stats">
						<stats-directive stats="stats"></stats-directive>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>